body{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body>*{
    margin: 1.5rem;
   
}
body>button{
    width: 3vw;
    height: 6vh;
    font-size: 1.3rem;

}